---
date: 2014-02-12
title: CFD
level: Beginner
---

DesignBuilder offers a simplified computational fluid dynamics (CFD) module to visualise airflow patterns through and around building structures.

![](training/cfd.png)

<p class="caption">Figure 1: Airflow around the Blue shed market at the V&A waterfront, Cape Town, South Africa</p>

The course presents an overview of CFD and the underlying physics and numerical methods involved to obtain a converged solution.  Multiple topics are covered ranging from how to create an acceptable grid, ensure stability and determine whether the solution is correct.

During the course a demonstration of how to create a model suitable for CFD, applying suitable boundary conditions and running a simulation is provided.  Examples of both internal and external CFD simulations are discussed along with the various tools presented in DesignBuilder to enable effective visualisation of the results.

For more information see our freely available <%= link_to "Video Tutorials", "http://www.designbuilder.co.uk/content/view/105/184/" %> and our  <%= link_to "YouTube
Channel", "https://www.youtube.com/user/DesignBuilderUK" %>, or read up on the details of modules on the  <%= link_to "DB website", "http://www.designbuilder.co.uk/content/view/144/233" %>.
