<% wrap_layout :layout do %>
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-10 center-block">
				<p class="post-date uppercase"><%= current_article.date.strftime('%B %e, %Y') %></p>
		    <h1><%= current_article.title %></h1>
			  <article>
			    <%= yield %>
			  </article>
			</div>
		</div>
	</div>
<% end %>