<% wrap_layout :layout do %>

<div class="container">
	<div class="row">
		<div class="col-xl-8 col-lg-8 col-md-10 center-block">
			<h1><%= current_article.data.title %></h1>
		  <article>
		    <%= yield %>
		  </article>
		</div>
</div>
<% end %>