<% wrap_layout :layout do %>

<div class="consulting-service container m-t-lg">
	<div class="row">
		<div class="sidebar-navigation col-md-3 hidden-sm-down">
			<h5>Consulting Services</h5>
			<ul>
				<% blog("consulting").articles.each do |article| %>
				<li>
					<%= nav_link article.title, article.url %>
				</li>
				<% end  %>
			</ul>
		</div>
		<div class="col-md-9">
		  <article>
		    <%= yield %>
		  </article>
		</div>
	</div>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta" %>
</div>

<% end %>