<section class="cta">
  <div class="containter">
  	<h4 class="m-b-lg">
  		Stay informed about upcoming courses!
  	</h4>

    <%= link_to "Sign up for training notifications", "http://eepurl.com/gAQtAz", class: "btn green" %>
  </div>
</section>
