<section class="cta">
  <div class="containter">
  	<h4 class="m-b-lg">
  		Sign up for an upcoming training course!
  	</h4>

    <%= link_to "Contact about training", "/contact", class: "btn green" %>
  </div>
</section>
