<section class="cta">
  <div class="container">
  	<h4>
  		Talk to us about your next project
  	</h4>
  	<p>
  		<%= lorem.words 10 %>
  	</p>
    <%= link_to "Get in contact", "/contact", class: "btn green" %>
  </div>
</section>