<section class="cta">
  <div class="containter">
  	<h4>
  		<%= lorem.words 6 %>
  	</h4>
  	<p>
  		<%= lorem.words 10 %>
  	</p>
    <%= link_to "Get in contact", "/contact-us", class: "btn green" %>
  </div>
</section>