<section class="cta">
  <div class="container">
  	<h4>
  		Talk to us about your next project
  	</h4>
  	<p>
  		Get in touch if you want to learn more, or to get a quote on an upcoming project
  	</p>
    <%= link_to "Get in contact", "/contact", class: "btn green" %>
  </div>
</section>
