<section class="sub-nav">
  <div class="container">
    <%= link_to "Design Builder", "/designbuilder" %>
    <%= link_to "Upcoming Courses", "/training" %>
    <%= link_to "Training Modules", "/training/3d-modeling" %>
    <%= link_to "Resources", "/designbuilder/resources" %>
  </div>
</section>
