---
date: 2020-01-20
title: Computational Fluid Dynamics for the Built Environment & General Industry
description: Advanced capabilities for CFD analysis in a variety of applications
image: background.jpg
---


#Computational Fluid Dynamics for the Built Environment & General Industry
<p class="intro-paragraph"><%= current_article.data.description %></p>

![](/images/consulting/CFD-jetfan.png)

Our team has more than a decade of experience in applying Computational Fluid Dynamics analysis to a number of fields, from biology to the built environment.  We can tackle a variety of CFD projects at competitive rates, using our expertise coupled with software suitable for the task at hand.  We use both in-house computer hardware and rented high performance computing facilities as required.

##Key applications
* [Wind studies](/consulting/wind-studies) and [HVAC airflow](/consulting/wind-studies#internal-airflow-analysis) modelling for the built environment.
* [Smoke analysis](/resources/CSIR_CHPC_Dec 2019_Greenplan_webed.pdf) to inform building ventilation design.
* General industrial analysis, such as mixing of liquids.



<!-- See our [case study](/case-studies/parking-garage-smoke-CFD) featuring a smoke ventilation analysis of a 27 000 m² parking garage, using multiple software packages and significant high performance computing resources. -->
See our [case study](/resources/CSIR_CHPC_Dec 2019_Greenplan_webed.pdf) featuring a smoke ventilation analysis of a 27&nbsp;000&nbsp;m² parking garage, using multiple software packages and significant high performance computing resources.
