---
date: 2018-02-14
title: Data Measurement Capabilities
description: Reliable low-cost temperature measurement and logging, thermal imaging of buildings, diffuser air flow measurement, and sound pressure level and reverberation measurement.
image: background.jpg
---

#Data Measurement Capabilities
<p class="intro-paragraph"><%= current_article.data.description %></p>

All too often when a building is built, no one knows if it is meeting the performance specifications laid down during the design phase. Apart from checking if the design goals are achieved it is important to know if the building heating and cooling systems are operating as expected, as the energy consumption and user discomfort may be adversely affected if it is not.

It can be very informative to measure room air temperatures in combination with wall, façade, or ceiling temperatures, over a number of weeks or even months. This information is particularly of interest in the case of buildings that are designed for specific performance goals, such as Green Star, but it is valuable for anyone wishing to understand the thermal performance of their building with a view to improving thermal comfort and reducing energy consumption.

Temperature measurement can be an expensive undertaking, but Greenplan Consultants has experience installing and working with reliable low-cost temperature measurement systems that allow data logging and remote access for extended time periods.

By means of site visits with our infra-red camera we are also able to provide insight into extreme building envelope temperatures, thermal leaks and insulation effectiveness.

Other measurement capabilities include air flow rate measurement at diffusers and extraction grills, and sound pressure level and reverberation measurements. Please contact us for further information on what we are able to offer for your <!--specific -->situation.
