---
date: 2020-01-01
title: Daylight Studies
description: Assess indoor daylight levels and the occurrence of glare for different building configurations, to inform an optimal design for the best occupant experience.
image: background.jpg
---

#Daylight studies
<p class="intro-paragraph"><%= current_article.data.description %></p>

The indoor daylight level and glare are of great importance to the wellbing and productivity of building occupants. Over the years, Greenplan has assessed daylight levels (Daylight Factor or lux) and glare performance of a number of buildings.  We use DesignBuilder software which connects to the Radiance daylight simulation engine from the USA's Lawrence Berkeley National Laboratory - a respected and long-standing computational code for daylight modelling in buildings.

<%= image_tag "consulting/daylight.png", class: "m-b-md" %>

To inform a building design, we can assess daylight levels and glare for different configurations of building elements (e.g. glazing systems and shading elements). The results can be used to guide the design team in the right direction to achieve optimal performance.

We also assess daylight and glare performance as part of our work on [Green Star South Africa](..\greenstar-certification "Green Star Certification")  submissions.
