---
date: 2016-05-10
title: Edge
description: EDGE is a new green building certification programme developed to empower the residential property market to design and build resource-efficient buildings.
image: background.jpg
---

#Edge
<p class="intro-paragraph"><%= current_article.data.description %></p>

EDGE, an acronym for Excellence in Design for Greater Efficiencies, EDGE is a new green building certification programme developed to empower the residential property market to design and build resource-efficient buildings.  To achieve an EDGE rating, buildings have to achieve a minimum savings of 20% in terms of energy, water and embodied energy.
