---
date: 2016-05-09
title: Green Star Certification
description: Specialists in all high-value Green Credits that require building performance modelling.
image: background.jpg
---

#Green Star Certification
<p class="intro-paragraph"><%= current_article.data.description %></p>

Registering your new building for a Green Star certification could have multiple benefits for both you and the building tenants.  “Green” buildings use significantly less energy, while maintaining a healthy indoor environment for the occupants.  Due to the perceived building quality, such buildings tend to attract premium rentals.

* ENE-1: Greenhouse Gas Emissions
* ENE-5: Peak Energy Demand Reduction
* IEQ-2: Air Distribution Effectiveness (Discontinued in Version 1.1)
* IEQ-4: Daylight
* IEQ-5: Daylight Glare Control
* IEQ-9: Thermal Comfort
