---
date: 2016-05-10
title: Informing The Design
description: Helping you to make informed decisions to maximise your return on investment and select the most effective technologies for your development.
image: background.jpg
---

#Informing The Design
<p class="intro-paragraph"><%= current_article.data.description %></p>

Considering improving your current building’s performance? Optimising that new development to utilise minimum energy while maintaining a healthy and comfortable indoor environment?  We offer our services to help you make informed decisions to maximise your return on investment and select the most effective technologies for your desired outcomes.

One of the disappointing aspects of the green building movement is that all too often, too little attention is given to fundamentally sound sustainable design principles. Buildings are declared “green” based only on technological solutions like photo-voltaics added onto a conventional building design.

Via in-depth analyses of building performance; focussing on orientation, solar loads and incorporating different facade design options, external shading and so on; we can inform the design process from concept stage to ensure a sustainable outcome.  In particular, the energy consumption and peak demand of building services such as air-conditioning can be minimised through the use of detailed energy modelling at design stage. <!--(case study)-->

Greenplan has assessed the performance of some 1 500 buildings in different climatic regions across South Africa.  We are ideally positioned to assist you in the design of truly sustainable buildings.
