---
date: 2016-05-10
title: Natural Ventilation
description: Advanced capabilities for analysing exterior and interior air movement in the built environment.
image: background.jpg
---

#Natural Ventilation
<p class="intro-paragraph"><%= current_article.data.description %></p>

Before the introduction of electricity and air-conditioning in buildings in the early 1900’s, building designs relied on natural ventilation to ensure adequate fresh air and acceptable thermal comfort.  Because of the benefits associated with natural ventilation, including improved indoor air quality, reduced capital costs, -maintenance and -energy usage, there is a growing interest in re-introducing this into modern building designs.

Since the cooling capacity of natural ventilation is limited, a key design challenge is to limit the heat gains to spaces inside a building.  Greenplan can assist you right from concept design stage to introduce basic design features that will result in acceptable heat loads throughout your buildings.  Amongst others, we will analyse factors such as building orientation, size of windows, external shading devices, glazing types, internal heat loads from lights etc., in order to make natural ventilation more effective.  Furthermore we can predict the rate at which air will be exchanged, based on buoyancy (or stack-) effects in a room, including wind effects.

We can advise on the required size and position of air inlet and outlet openings and flow rates of fresh air that can be expected, based on given weather data and conditions inside the building.  In addition, we can generate data on expected thermal comfort that would be attained by such systems, clearly showing when this passive system will be adequate and when additional mechanical conditioning, in a so-called hybrid system, might be required. (case study)
