---
date: 2018-02-14
title: Rock Bed Thermal Storage
description: Expertise on rock store performance prediction and measurement, in addition to design and construction experience.
image: background.jpg
---

#Rock Bed Thermal Storage
<p class="intro-paragraph"><%= current_article.data.description %></p>

A rock store is a pile of loose rock with air gaps between the rock, and is intended for storing heat (thermal energy) at a particular temperature. It is probably easiest to understand how they work by thinking of them as a rechargeable battery. For example, if you live in a region with hot summer days and cool nights, you can draw air from outside through the store at night when the outdoor temperature is cool. The store will be “charged” to this temperature. Then, during the day, you can blow air through the store, where it will be cooled down (thereby “discharging” the store), and then feed the cool air into the building. Alternatively, in winter, you could reverse day-night operation so that the store is used to capture heat during the day and then use that for heating a building at night.

The advantage of this simple system is that it reduces – and in some cases can almost eliminate – your need for air-conditioning systems, which require much more energy to run and need more highly advanced technology to maintain. It can usually be constructed with local construction materials and the most complicated item necessary for basic operation is a fan. It is however dependent on the climate – if you live in a region with minimal diurnal temperature change, then it is not a good option.

While the concept is simple and has been used for a long time, it is not necessarily easy to size the system and predict its performance. We have been involved in the design, construction, and measurement of a number of rock stores over the years and have a lot of experience with the thermal modelling and performance prediction.
