---
date: 2014-12-12
title: Sans 10400-XA
description: Banks require stringent reporting from maintenance providers such as BMS on compliance
---

#SANS 10400-XA Rational Assessment and Design
<p class="intro-paragraph"><%= current_article.data.description %></p>

Greenplan offers a comprehensive and advanced service regarding building energy assessments.  This evaluates the performance of a building for every hour of the year, using representative weather data and incorporating not just the fenestration, but the complete building envelope and aspects like hot water generation, cooling and heating energy, lighting etc.  In essence, the methodology gives design freedom back to Architects as different design aspects can be weighed up against one another to provide an acceptable energy solution.

The National Building Regulations (NBR) require of building owners to appoint a competent person regarding energy, to ensure compliance to the energy regulations incorporated in the Standard SANS 10400-XA.  An outline of the steps required, is given below:

To prove to your Local Council that you have indeed appointed such a person, Form 2 needs to be filled-in and signed. This form needs to be filled in and signed by both Greenplan Consultants and the building owner and should be submitted at the building control offices of the local Council for approval, with the set of building plans.  

If appointed, we will send the building owner or architect, a signed copy of Form 2 with our details already filled in.  The building owner will then have to complete the sections required, and also sign the form.  Greenplan Consultants will then do a SANS 10400-XA rational energy assessment of the building, as outlined in the table below.  The output will include an assessment report addressing the annual energy consumption and peak demand of the building.  This report will be sent to the building owner who will subsequently have to also submit a copy to the local Council.

Upon completion of the building, the building owner has to prove to the local council that the building was actually constructed as designed and assessed.  This is done via a Certificate of Completion, Form 4.  This form has to be signed by Greenplan Consultants and submitted to the Council by the building owner before an occupancy certificate will be issued.  In order for Greenplan Consultants to sign off a building via Form 4, sufficient proof needs to exist that the building has been built and systems installed as per the assessment report.  We will supply to the building owner, a list of all items required (i.e. photographs and/or certificates) that we would need in order to sign off the Certificate of Completion.












Scope of Work
 
Our scope of work includes the following:
 
Communication / documentation


Communications, getting information


Studying drawings & related product specification documents


Appointment - Form 2
 
Filling in and signing Form 2 for local Council as  competent person (energy)


Setting up Building Energy Models (certified software)
 
Actual Building Model (3-dimensional model with all actual fabric details)


Reference Building Model (3-D model with fabric details as per SANS 10400-XA)


Check models and running simulations (local weather data, hourly simulations)


Incorporate hot water calculations, air-conditioning, lights metabolic rate etc. as per SANS 10400-XA Standard


Data analysis
 
Comparing annual energy consumption via custom spread sheets


Comparing peak energy demand via custom spread sheets


Report
 
Detailed report  to Architect / Owner / Developer / Local Council


Sign-Off - Form 4
 
Filling in and signing off the certificate of completion (Form4) regarding energy.


<h2>Fee Proposals</h2>
<p>
	Our fee proposals for the assessment of a building is based on two inputs:
</p>
<ul>
	<li>the total building floor area</li>
	<li>complexity of the building facades</li>
</ul>

<p>
	In order to provide a quotation, we would therefore need a complete set of drawings (either dwg. or pdf.-format) with plans, elevations, sections and window schedules.
</p>