---
date: 2016-05-10
title: Solar Loads
description: Robust design advice on how to manage solar loads in all parts of your building, throughout the changing seasons.
---

#Solar Loads
<p class="intro-paragraph"><%= current_article.data.description %></p>

In the built environment, external thermal loads come from heat transferred from the sun through the building envelope, the earth, and the outside environment.  Any surfaces that separate the building inside from the outside environment is defined as the building envelope and includes walls, roofs, floors, and windows.  Material choices, envelope design, and envelope sealing dramatically affect the amount of solar radiation and conducted and convected energy that enters and leaves the building envelope.

Some common ways that heat flows into or out of a building are:

* Heat conduction entering or leaving the building envelope to outside air or ground.
* Solar radiation entering through windows and heating interior surfaces.
* Solar radiation warming up exterior building surfaces.
* Unintentional air leaks into or out of the building via cracks and openings because of inadequate envelope sealing.
* Outside air being introduced to the building to provide fresh air and ventilation.

The degree to which each of these impact the building’s loads and the occupant’s comfort also depend on the temperature and humidity differences between indoors and outdoors, which are all constantly changing by season and time of day.

Understanding where heat energy is gained and lost in your design is an important first step towards successful passive design strategies. Simply put, solar loads can have huge benefits in terms of building comfort and energy requirements, but we need to control it.  For instance, when it’s hot and sunny, it can be very important to reduce loads from solar radiation by using properly designed external shading and windows with low solar heat gain. On the other hand, in the winter, it’s often desirable to capture this free solar energy in some way to heat up the building interior and reduce heating energy requirements.
