---
date: 2016-05-10
title: Sustainable Energy Solutions
description: Having assessed the performance of hundreds of buildings in different climatic regions all over South Africa, we are ideally positioned to assist you in the design of truly sustainable buildings.
image: background.jpg
---

#Sustainable Energy Solutions
<p class="intro-paragraph"><%= current_article.data.description %></p>

Rising energy costs have inspired many to consider alternative energy solutions in South Africa.  We can offer our services to determine which technologies are most suitable for your projects. These may include:

* Solar thermal water heating
* Photovoltaic generation of electrical energy
* Energy-efficient heat pumps for air-conditioning
* Passive and mixed-mode ventilation systems
* Energy storage systems

One of the disappointing aspects of the green building movement is that all too often, too little attention is paid to fundamentally sound sustainable design principles and buildings are declared “green” based only on technological solutions like photo-voltaics added onto a conventional building design.

Via in-depth analyses of building performance; focussing on orientation, solar loads and incorporating different facade design options, external shading and so on; we can inform the design process from concept stage to ensure a sustainable outcome.

In particular, the energy consumption and peak demand of building services such as air-conditioning can be minimised through modelling, so as to reduce the required investment in sustainable energy generation systems. <!--(case study)-->  Greenplan has assessed the performance of some 1 500 buildings in different climatic regions across South Africa.  We are ideally positioned to assist you in the design of truly sustainable buildings.
