---
date: 2014-12-10
title: Thermal Comfort
description: For both naturally and mechanically conditioned building spaces, we use leading-edge software to determine thermal comfort levels, helping you to design more comfortable interiors.
image: background.jpg
---

#Thermal Comfort
<p class="intro-paragraph"><%= current_article.data.description %></p>

ASHRAE Standard 55 defines Thermal Comfort as that condition of mind that expresses satisfaction of humans with their thermal environment, or in simple terms, whether they feel too hot or too cold.  As one can imagine, thermal comfort is a very important issue for occupants of buildings.  Because thermal comfort is a subjective experience, it is very difficult to define.  One needs to take into account a range of environmental, activity-related and personal factors when deciding what makes a comfortable indoor environment.  The best that you can realistically hope to achieve is a thermal environment that satisfies the majority of people in a particular indoor space.
 
There is a common misconception that room temperature alone is the only measure of thermal comfort.  In reality, there are six primary factors that play a role in determining thermal comfort.  These can be divided into environmental and personal factors.

Environmental factors include air temperature, the temperature of walls, floors, ceilings and other surfaces surrounding you, humidity and the velocity of airflow across your skin. Personal factors include how well your body is being insulated by the clothing you wear and how physically demanding your activities are.

Greenplan uses sophisticated modelling software to determine thermal comfort levels in both naturally and mechanically conditioned building spaces.  (Case study)  These simulations take into account all the parameters which influence our perception of thermal comfort, as noted above.  Thermal comfort studies offer a powerful and almost essential means to ensure proper building designs which will be comfortable throughout the year.  This is deemed most important not only for office buildings, but also for domestic residences, factories, shopping malls etc.