---
date: 2016-05-10
title: Ventilation and Wind Studies
description: Advanced capabilities for analysing exterior and interior air movement in the built environment.
image: background.jpg
---

#Wind Studies
<p class="intro-paragraph"><%= current_article.data.description %></p>

The flow and quality of air play an important role in terms of human comfort. When designing buildings, we need to consider both external and internal air flows.  When wind speeds at pedestrian level, external to buildings, become too high, it will be experienced as uncomfortable and can even be dangerous.

###External airflow analysis

The massing and orientation of buildings and objects like walls, trees and landscaping can have a profound effect on wind flow patterns.  It is important to understand wind effects in order to minimize unwanted wind amplification or “canyoning” effects where wind is accelerated by being channeled between buildings.  When not considered adequately during the design phases, this often results in unacceptable conditions at pedestrian level and in the area of building entrances.

External wind studies are also of importance when designing courtyards in order to create appropriately sheltered outdoor spaces.  With the aid of wind studies, we can determine how to use site elements like walls, trees, and landscaping to help us improve the wind flow patterns on the site.


###Internal airflow analysis

Inside buildings it is important for health reasons to continuously replace the air with fresh air to prevent it from becoming stale.  Furthermore, air moving across the skin enhances cooling and is therefore of importance for both mechanical and natural ventilation cooling.  In fact air movement associated with natural ventilation systems is a key strategy for passive cooling.

With the aid of internal air flow studies, we can determine the expected airflow rates and temperatures for internal building spaces, based on different design options. It will guide us in terms of the design of all occupied building spaces and atria to most effectively harness stack-effect ventilation caused by temperature and pressure differences.   Through such studies, we will gain a good understanding of where to place openings and how to size them, in order to get the most out of cross ventilation.

For mechanically conditioned spaces, we can determine the optimum HVAC systems laid-out (inlet and outlet placement and airflow rates and direction).  This also enables us to design systems which most effectively complement passive heating and cooling strategies as is typically for hybrid systems.  Finally we can determine what the combined effect of this is on human thermal comfort.
