.navbar {
	padding: 0.8rem 1rem;
	border-bottom: 1px solid $white-dark;
}

.navbar-white {
	background: #fff;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 1.05rem;
	font-weight: 700;
}

a.nav-link {
	font-size: 1rem;
	text-transform: uppercase;
}

@include media-breakpoint-down(sm) {
	.navbar-nav {
		display: block;
		float: none !important;
		clear: both;
	}
	.navbar-nav .nav-item {
		display: block;
		float: none;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
}

.sub-nav {
	text-align: center;
	display: block;
			margin-left: 0px;
		margin-right: 0px;
}