.case-study-article {
	.image {
		background-position: center center;
		background-size: cover;
	}
	.client {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: #B9BEBF;
	}
}