.service {
	border: 1px solid $white-dark;
	padding: 15px;
	display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
	h4 {
		font-size: 1.2rem;
		line-height: 1.5;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
	&:hover {
		background-color: #ddd;
	}

	p {
		color: $gray-blue;
	}
}


.intro-paragraph {
	font-weight: 600;
}

@include media-breakpoint-up(md) {
	.service {
		min-height: 280px;
	}
}
@include media-breakpoint-up(lg) {
	.service {
		min-height: 220px;
	}
}
@include media-breakpoint-up(xl) {
	.service {
		min-height: 190px;
	}
}