.training-module {
	padding: 50px 0;
}
.sidebar-navigation {
	h5 {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {
		margin-bottom: 10px;
	}
	li:last-child {
		margin-bottom: 0;
	}
	a {
    color: $gray;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 22px;
    line-height: 20px;
    font-size: 1.05rem;
  }
  a:before {
    box-sizing: border-box;
    position: absolute;
    content: ' ';
    top: 5px;
    left: 2px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 3px solid #FFF;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 0 2px $gray;
  }
  a:hover, a:focus {
    color: $gray-blue-dark;
    text-decoration: none;
  }
  a.active {
    color: $blue;
    font-weight: 500;
  }
  a.active:before {
    background: #328ece;
    box-shadow: 0 0 0 2px #328ece;
  }
}