---
date: 2016-05-10
title: How Thermal Comfort was used to inform Building Design
description: Our brief was to investigate two concept building types, the main difference between the two designs being the positioning of sub-waiting passages.
image: beaufort-west.png
customer: Department of Health
---

###Client Brief
Greenplan was commissioned by Gabriel Fagan Architects to investigate thermal comfort in the new Hillside clinic building in Beaufort West. Our brief was to investigate two concept building types, the main difference between the two designs being the positioning of sub-waiting passages.

In the original design, these were placed mainly on the southern side of the building wings with clinical and consulting rooms on the northern side.  In the alternative design the position of the consulting rooms and passages have been swapped around.

![](case-studies/beaufort-west/b_1.png)

###Location and Local Weather
Beaufort West is situated in the northern part of the Western Cape Province.  It is the largest town in the arid Great Karoo region.

![](case-studies/beaufort-west/b_2.png)

<p class="caption">The area experiences very high levels of solar radiation with relatively low cloud cover.</p>

Peak summer temperatures can approach 40C whereas mid-winter temperatures sometimes fall below freezing point.

![](case-studies/beaufort-west/b_3.png)

###Air-Conditioning and the Design challenge
Because of financial reasons, the building is not fully conditioned but consulting- and clinical rooms are being supplied with 100% fresh tempered air.  The passages, some of which are used as sub-waiting areas and formal waiting areas, rely on spillage of tempered air from the consulting rooms.  Bearing in mind the rather extreme weather conditions combined with limited control of indoor temperatures, the architects were concerned about thermal comfort in the building, especially in the waiting areas.

###Thermal Comfort Criteria
The thermal comfort in the passages and waiting areas have been analysed using the adaptive comfort standard, ASHRAE Standard 55.  This standard also addresses thermal environmental conditions in Naturally Ventilated spaces.  In our investigation, the sub-wait and circulation spaces were deemed to be naturally ventilated.

ASHRAE notes that field experiments have shown that occupants’ thermal responses in such spaces depend in part on the outdoor climate and may differ from thermal responses in buildings with centralized HVAC systems.  This is primarily because of the different thermal experiences, changes in clothing, availability of control, i.e. the ability to open windows and shifts in occupant expectations.

The ASHRAE 80% acceptability limits for January and July are shown.

Our simulation results below show hours within, above and below these comfort thresholds.

![](case-studies/beaufort-west/b_4.png)

Data for the Original design, with the passages and waiting areas on the colder, Southern side of the building.

In the alternative design, the position of consulting rooms and passages have been exchanged with the passages now occupying the warmer Northern side of the building.

![](case-studies/beaufort-west/b_5.png)

The data for the alternative design, was obtained by performing multiple simulation runs with different roof overhangs and comparing periods predicted as too cold with periods predicted as too hot.  The data shown is the result of a design with a 750mm roof overhang on the northern facade.  This results in a good balance between hours perceived as too cold and too hot.  The generally hotter conditions in circulation and sub-waiting areas seems to also benefit the waiting and records area in the alternative design.

###Conclusions
Building performance simulations have been performed for peak summer and peak winter weeks for two alternative Clinic building layouts. Thermal comfort data has been post-processed and tested against the ASHRAE Standard 55-2010 for adaptive comfort criteria, for zones used as waiting and sub-waiting areas.

These areas are not conditioned and mostly rely on ‘spill-conditioning’ from adjacent offices and natural ventilation.  The analysis indicate that these non-conditioned zones in the original design may experience extended periods of conditions perceived as too cold in extreme winter weather conditions.

The alternative design, where sub-waiting areas have been placed on the northern façade of the building, results in a better balance between too cold and too hot conditions. This design has been selected as the final building configuration.

###About Gabriel Fagan Architects
Gabriël Fagan Architects have offices in Bree Street, Cape Town.  Mr Fagan has an illustrious career spanning more than 60 years.  He has received two honorary doctorates, numerous special awards and gold medals for his outstanding work, and is the author of several books.  Mr. Fagan and his wife Gwen still go to the office every day and are involved in every job the office takes on.
