---
date: 2016-05-10
title: Hermanus House Case Study
description: The objective is to study the thermal behaviour of the existing house and suggest cost effective improvements
image: hermanus.png
customer: Private Resident
---

<p class="intro-paragraph">
	The objective is to study the thermal behaviour of the existing house and suggest cost effective improvements. Over recent years the energy efficiency and occupant thermal comfort of buildings in South Africa have become more important considerations to occupants. Holistic building energy modelling allows you to learn about the thermal behaviour of your new or existing building. Within the constraints of each project, building modelling engineers can determine key areas of improvement and operation of your new or existing building.
</p>

###Project brief and constraints
The existing beach house in Hermanus was studied to learn about possible future improvements to the façade. The owners are looking for easy cost effective solutions to improve the thermal comfort of the building.

###The building and model
The model was drawn up from drawings and site measurements

![](case-studies/hermanus/hermanus-1.png)

<p class="caption">Figure 1: Picture of the house, and plan drawings.</p>

Building Facade

* Plastered cavity walls
* Single glazing with aluminium frames
* Glass wool roof insulation 50mm
* Shutters on select north, east and west windows.

Other estimated building settings

* Lighting: combination of Non-LED lights [10 W/m2]
* Infiltration: 0.75 ach before noon, 1.5 ach after noon. (Wind normally picks up)
* Temperature control: 19 - 25°C

![](case-studies/hermanus/hermanus-3.png)

<p class="caption">Figure 2: Building Model</p>

###The heat balance and peak cooling in summer

The building is located in a mild climate, and experiences summer conditions for most of the year. Cooling is achieved by means of natural ventilation, and overheating is reduced by movable louvres on select windows. The study focused on the effect of using the louvres and where cost effective future improvement can be considered. During occupied hours most heat enters as solar radiation through the windows, warm air infiltration and through the roof.

![](case-studies/hermanus/hermanus-4.png)

<p class="caption">Figure 3: (1) No Louvres – existing, (2) Existing Louvres (3) Modification 1 – extra louvers on East, (4) Modification 2 Improved air-tightness</p>

####What is the maximum amount of heat that can typically be removed by natural ventilation?

The CIBSE guide AM10, “Natural ventilation in non-domestic Buildings” notes the following. ‘As a general rule of thumb, it is generally agreed that natural ventilation systems can meet total heat loads averaged over the day of around 30 to 40 W/m2 (i.e. solar plus internal gains)’. It can be seen that when louvres are used on warm summer days the result is close to this benchmark for most rooms except the upper living room.

![](case-studies/hermanus/hermanus-5.png)

<p class="caption">Table 1: Comparison of peak summer building cooling loads with two simple modifications considered.</p>

####What do we learn from the results (Figure 2 and Table 1)?

1. Cavity walls show the good thermal lag effect.
2. The effect of louvres reduces the solar heat entering the building (20-40% reduction).
3. Additional louvres on 3 windows on the east façade will significantly reduce heat load in early morning. This small modification reduces heat entering the whole building by 5%.
4. Improved air tightness (50% improvement) will reduce heat entering the building by an additional 10%.
5. The building is likely to be comfortable with only natural ventilation.

###Heat balance and peak heating in winter

The building requires heating predominantly from July to September. In the winter we want to keep heat inside the building – especially in the living areas. The effect of new improved windows on the southern façade is studied. This will reduce unwanted air infiltration and provide better insulation.

![](case-studies/hermanus/hermanus-7.png)

<p class="caption">Figure 4: improved glazing on the southern façade only.</p>

Heat balance for a typical winter day shows heat predominantly being lost though the walls, roof, windows and by means of air infiltration. The replacement of southern glazing will improve the insulation of the building, and reduce loads by almost 10%.

![](case-studies/hermanus/hermanus-8.png)

<p class="caption">Figure 5: Building heat balance (left) only single glazing, (right) south facade replaced with double Low E glazing.</p>

The building requires a heating system to keep air temperatures comfortable in winter. The owner decided to install a suitable efficient biomass heater fuelled will sustainably produced wood or invasive species.

Double glazing provides additional insulation as shown in Figure 5. This improves occupant thermal comfort because inside surface temperatures are more comfortable.

![](case-studies/hermanus/hermanus-9.png)

<p class="caption">Figure 6: A comparison of glazing surface temperatures on a south facing living room window (left) single (right) Double Low E.</p>

###Thermal comfort in the living room
<blockquote>
	“That condition of the mind which expresses satisfaction with the thermal environment” [ASHRAE 55]
</blockquote>

###Winter Thermal comfort

Heating systems are typically designed to achieve thermal comfort by maintaining the air temperature above 22°C. Thermal comfort is however affected by various parameters, not only air temperature. Thermal comfort is typically measured by using the Fanger predicted mean vote (PMV) index where below (-1) is cold and above (+1) is warm.

![](case-studies/hermanus/hermanus-10.png)

<p class="caption">Figure 7: Fanger PMV Thermal comfort is shown with and without heating for different rooms.</p>

Better insulated buildings, will have milder surface temperatures (or radiant temperatures) as shown previously in Figure 4. The mean radiant temperature is the average of all surface temperature in a space. Milder mean radiant temperatures will improve thermal comfort in a space as shown below. Therefore the thermal comfort near single glazing is worse than near double glazing.

![](case-studies/hermanus/hermanus-11.png)

<p class="caption">Figure 8: Typical winter day - Southern side of living room shows milder radiant temperature and improved thermal comfort when using double glazing instead of single glazing. Results are displayed for occupied hours.</p>

A well-insulated façade with performance glazing reduces winter heat loss and improves thermal comfort in the winter. Therefore it should be considered in the main living spaces, especially for new building. For existing buildings it may be too costly to retrofit performance glazing.

###Summer thermal comfort

A typical summer day with free floating temperatures in the living room is shown in Figure 8. When outdoor temperatures are lower, natural ventilation can further reduce the air temperatures in the room.

![](case-studies/hermanus/hermanus-12.png)

<p class="caption">Figure 9: Typical summer day – with free floating temperatures in the living room. The results are shown with and without shading devices on. Results are displayed for occupied hours.</p>

###Final remarks on annual thermal comfort improvement
The results from an Annual thermal simulation showed that by adding additional shading devices (for summer) and suitable heating system (maintaining winter temperatures above 22°C) improved thermal comfort from 70% to 98% during occupied hours in the living room.
