---
date: 2016-05-10
title: Hermanus house
description: The objective is to study the thermal behaviour of the existing house and suggest cost effective improvements.
image: hermanus.png
customer: Private Resident
---

<p class="intro-paragraph">
	The objective is to study the thermal behaviour of the existing house and suggest cost effective improvements. Over recent years the energy efficiency and occupant thermal comfort of buildings in South Africa have become more important considerations to owners. Holistic building energy modelling allows you to learn about the thermal behaviour of your new or existing building. Within the constraints of each project, building modelling engineers can determine key areas of improvement and operation of the building.
</p>

###Project brief and constraints
The existing beach house in Hermanus was studied to learn about possible future improvements to the façade. The owners are looking for easy cost effective solutions to improve the thermal comfort of the building.

###Thermal comfort
<blockquote>
	“That condition of the mind which expresses satisfaction with the thermal environment” - ASHRAE Standard 55
</blockquote>

###The building and model
The model was drawn up from drawings and site measurements.

![](case-studies/hermanus/hermanus-1.png)

<p class="caption">Figure&nbsp;1: Picture of the house, and plan drawings</p>

Building Facade

* Plastered cavity walls
* Single glazing with aluminium frames
* Glass wool roof insulation 50&nbsp;mm
* Shutters on selected Northern, Eastern and Western windows.

Other estimated building settings

* Lighting: Combination of non-LED lights [10&nbsp;W/m²]
* Infiltration: 0.75 air changes per hour before noon, 1.5 air changes per hour after noon (wind normally increases during the day).
* Temperature control: 19 to 25&nbsp;°C

![](case-studies/hermanus/hermanus-3.png)

<p class="caption">Figure&nbsp;2: Building model</p>

###The heat balance and peak cooling in summer

The building is located in a mild climate and experiences summer conditions for most of the year. Cooling is achieved by means of natural ventilation and overheating is reduced by movable louvres on selected windows. The study focused on the effect of using the louvres and where cost effective future improvement can be considered. During occupied hours most heat enters by solar radiation through the windows, warm air infiltration and conduction through the roof.

![](case-studies/hermanus/hermanus-4.png)

<p class="caption">Figure&nbsp;3: (1) No louvres – existing, (2) Existing louvres (3) Modification 1 – extra louvers on East, (4) Modification 2 - Improved air-tightness</p>

####What is the maximum amount of heat that can typically be removed by natural ventilation?

CIBSE guide AM10<!--, “Natural ventilation in non-domestic Buildings”--> notes the following: ‘As a general rule of thumb, it is generally agreed that natural ventilation systems can meet total heat loads averaged over the day of around 30 to 40&nbsp;W/m² (i.e. solar plus internal gains)’. It can be seen that when louvres are used on warm summer days the result is close to this benchmark for most rooms except the upper living room.

![](case-studies/hermanus/hermanus-5.png)

<p class="caption">Table 1: Comparison of peak summer building cooling loads with two simple modifications considered.</p>

####What do we learn from the results (Figure&nbsp;2 and Table 1)?

1. Cavity walls show a good thermal lag effect.
2. The effect of louvres reduces the solar heat entering the building (20 to 40&nbsp;% reduction).
3. Additional louvres on three windows on the Eastern façade will significantly reduce the heat load in early morning. This small modification reduces heat entering the whole building by 5&nbsp;%.
4. Improved air tightness (50&nbsp;% improvement) will reduce heat entering the building by an additional 10&nbsp;%.
5. The building is likely to be comfortable with only natural ventilation.

###Heat balance and peak heating in winter

The building requires heating predominantly from July to September. In the winter we want to keep heat inside the building – especially in the living areas. The effect of new improved windows on the southern façade is studied. This will reduce unwanted air infiltration and provide better insulation.

![](case-studies/hermanus/hermanus-7.png)

<p class="caption">Figure&nbsp;4: Improved glazing on the Southern façade only</p>

Heat balance for a typical winter day shows heat being lost predominantly though the walls, roof, windows and by means of air infiltration. The replacement of Southern glazing will improve the insulation of the building and reduce loads by almost 10&nbsp;%.

![](case-studies/hermanus/hermanus-8.png)

<p class="caption">Figure&nbsp;5: Building heat balance - Only single glazing (left), Southern facade replaced with double low-E glazing (right)</p>

The building requires a heating system to keep air temperatures comfortable in winter. The owner decided to install a suitable efficient biomass heater fuelled with sustainably produced wood/invasive species.

Double glazing provides additional insulation as shown in Figure&nbsp;5. This improves occupant thermal comfort because inside surface temperatures are more comfortable.

![](case-studies/hermanus/hermanus-9.png)

<p class="caption">Figure&nbsp;6: A comparison of glazing surface temperatures on a South-facing living room window - single-glazed (left) vs double low-E (right)</p>

###Winter Thermal comfort

Heating systems are typically designed to achieve thermal comfort by maintaining the air temperature above 21&nbsp;°C. Thermal comfort is however affected by various parameters, not only air temperature. Thermal comfort is typically measured by using the Fanger Predicted Mean Vote (PMV) index where below -1 is too cold and above +1 is too warm.

![](case-studies/hermanus/hermanus-10.png)

<p class="caption">Figure&nbsp;7: Fanger PMV thermal comfort metric is shown with and without heating for different rooms.</p>

Better insulated buildings will have milder surface temperatures (radiant temperatures) as shown previously in Figure&nbsp;4. The mean radiant temperature is the average of all surface temperature in a space, weighted by surface area. Milder mean radiant temperatures will improve thermal comfort in a space as shown below. Therefore the thermal comfort experienced near single glazing is less than near double glazing.

![](case-studies/hermanus/hermanus-11.png)

<p class="caption">Figure&nbsp;8: Typical winter day - Southern side of living room shows milder radiant temperature and improved thermal comfort when using double glazing instead of single glazing. Results are displayed for occupied hours.</p>

A well-insulated façade with performance glazing reduces winter heat loss and improves thermal comfort in the winter. Therefore it should be considered in the main living spaces, especially for new building. For existing buildings it may be too costly to retrofit performance glazing.

###Summer thermal comfort

A typical summer day with unconditioned temperatures in the living room is shown in Figure&nbsp;8. When outdoor temperatures are lower, natural ventilation can further reduce the air temperatures in the room.

![](case-studies/hermanus/hermanus-12.png)

<p class="caption">Figure&nbsp;9: Typical summer day – with unconditioned temperatures in the living room. The results are shown with and without shading devices active. Results are displayed for occupied hours.</p>

###Final remarks on annual thermal comfort improvement
The results from an annual thermal simulation showed that by adding additional shading devices (for summer) and suitable heating system (maintaining winter temperatures above 22&nbsp;°C) thermal comfort in the living room was improved from 70&nbsp;% of occupied hours comfortable (before intervention) to 98&nbsp;% of occupied hours comfortable.