---
date: 2017-03-08
title: Computational Fluid Dynamic analysis of an Office Space
description: Investigation of air flow, temperature and lighting levels in a building to analyse and improve conditions
image: office.png
customer: Student
---

<p class="intro-paragraph">
You own a building – or you are planning to build – but you have questions. Maybe you want to know how much daylight will reach different parts inside your building. Or you want to know what the air temperatures will be at different locations because you have a grandmother who is very sensitive to the cold. Or you have no idea whether you will need air conditioning units, what size they should be, and where they must be situated. Maybe you want to know how well the air will circulate through the building, because you like natural ventilation. Or you want to know what the air speed is to see if it will be draughty in some locations.

The good news is that there are tools that can give you informed answers to these questions. The following case study helps to illustrate an example of a project where a number of these questions were addressed
</p>

###Client Brief
Greenplan was requested to help a university student to investigate air flow patterns in an office. The student’s topic related to the use of botanical biofiltration (filtration of air by means of plants) in order to improve indoor air quality. To make decisions about the placement of the air filter test system, the student required an evaluation of the air flow within the office environment. This evaluation identified stagnant and well-aerated areas, and air movement patterns. Daylight levels have also been calculated and shown here, since these can be an important parameter depending on the plant species.

###Office Space and Contents
The approximate office dimensions and orientation were used to construct a three-dimensional model of the office in DesignBuilder, a building energy modelling software package. Tables, chairs, computers and air-conditioners were placed based on the actual office layout. Internal office doors were assumed to be open, while all external doors and windows were assumed to be closed. The model is shown in Figure 1.

![](case-studies/office/CFD1.png)
<p class="caption">Figure 1: View of model showing equipment and zones</p>

The next step after creating the office model was to simulate its performance with real weather data. DesignBuilder allows for a number of different parameters to be calculated (temperature, speed, daylight, etc.), and these capabilities were used as shown below to answer some of the students questions.

###Results: Predicted Air Flow, Temperature, Speed, and Daylight Levels
The predicted ‘age’ of the air at desk level is shown in Figure 2, with red being the oldest (i.e. most stagnant) and blue being fresh. In this case, there is a dead zone in the tea room (bottom right corner) even though the door is open. The air conditioning units help to circulate air in the small offices, but the tea room doesn’t have such a unit. This would mean that smells of cooking, or bad food in a bin, could accumulate more easily in the tea room.

![](case-studies/office/CFD2.png)
<p class="caption">Figure 2: Desk level predicted ‘age’ of air</p>

The predicted air temperature throughout the office was also calculated on a given day (Figure 3). Red is hottest, and blue is coldest. The office with north-facing windows (top left corner) tends to bake in the sun, despite the air-conditioning unit. The small office rooms towards the other side of the office are colder. The small heat plumes (shown as red areas) around the computers are a consequence of the heat that they produce and add to the air.

![](case-studies/office/CFD3.png)
<p class="caption">Figure 3: Temperature predicted at desk level</p>

The predicted air speed throughout the office was calculated, as shown in Figure 4. This can be useful to ensure that those who sit at desks will not be uncomfortable from cold or hot breezes blowing on them – or that papers don’t get blown off the desks. Red is the fastest speed, and dark blue is stationary air.

![](case-studies/office/CFD4.png)
<p class="caption">Figure 4: Predicted air flow speed at desk level</p>

A similar calculation near the ceiling level shows the air jets coming out of the air-conditioning units. Knowing where these blow can help to locate and aim them for maximum effect. If you have ever had a jet of hot or cold air blasting down your neck because you were the unfortunate person to sit in just the wrong place, you will appreciate how useful this could be…!

![](case-studies/office/CFD5.png)
<p class="caption">Figure 5: Combination of predicted velocities and temperature near ceiling level</p>

In the absence of the correct type of artificial lighting, plants must have sufficient natural light to grow. Different plant types require different levels of light. DesignBuilder also has the capability of calculating levels of natural daylight that penetrate the office. A sample is shown for this office in Figure 6. Red is the highest level, unsurprisingly near the north-facing windows.

![](case-studies/office/CFD6.png)
<p class="caption">Figure 6: Daylight illuminance levels at desk level</p>

A knowledge of daylight levels is also useful for human comfort, appearance, and minimising artificial lighting with good design. There are many ways in which this tool can be used!

###Conclusion
This analysis is but one example of how DesignBuilder can be used to analyse buildings. Are you worried about local drafts; hot or cold spots; daylight levels; or suitable locations for plants? There are tools to predict and analyse these and other aspects of buildings. You don’t have to make a blind guess or just hope that it will work out for the best – get an informed answer instead!
