---
date: 2017-03-08
title: Computational Fluid Dynamic analysis of an Office Space
description: Investigation of air flow, temperature and lighting levels in a building to analyse and improve conditions
image: office.png
customer: Student
---

<p class="intro-paragraph">
  Do you find your house uncomfortable? Do you suffer from low productivity? Have you ever considered that this could be due to a lack of natural light, poorly placed air-conditioners, incorrect air circulation, or extreme room temperatures?

</p>

###Your Building Environment
You own a building – or you are planning to build – but you have questions. Will it be thermally comfortable, or will you feel like a polar bear in the Sahara, or a camel in the Antarctic? Will your cooling and heating energy bills give your grey hairs? Will there be enough daylight to make the house feel warm and inviting, or will it be like a dungeon, dark and dreary?

Maybe you want to know how much daylight will reach different parts inside your building. Or you want to know what the air temperatures will be at different locations because you have a grandmother who is very sensitive to the cold. Or you have no idea whether you will need air conditioning units, what size they should be, and where they must be situated. Maybe you want to know how well the air will circulate through the building, because you like natural ventilation. Or you want to know what the air speed is to see if it will be draughty in some locations.

The good news is that there are tools that can give you informed answers to these questions, and which can help you to find cost-effective solutions for improvement. The following case study helps to illustrate an example of a project where we at Greenplan addressed a number of these questions.

###Client Brief
Greenplan was requested to help a university student to investigate air flow patterns in an office in order to position pot plants in optimal locations for air filtration. Our evaluation identified stagnant and well-aerated areas, air movement patterns, temperature variation, and daylight levels.

How did we do it, you ask?

###Creating The Model
The approximate office dimensions and orientation were used to construct a three-dimensional model of in DesignBuilder, a building energy modelling software package. Tables, chairs, computers and air-conditioners were placed in the model based on the actual office layout. Internal office doors were assumed to be open, while all external doors and windows were assumed to be closed. The model is shown in Figure 1.

![](case-studies/office/CFD1.png)
<p class="caption">Figure 1: View of model showing equipment and zones</p>

###Running The Simulation
The next step after creating the office model was to simulate its performance with real weather data. DesignBuilder allows for a number of different parameters to be calculated (temperature, air flow speed, daylight, etc.), and these capabilities were used as shown below to answer some of the students’ questions.

###Simulation Results: Predicted Air Flow
The predicted ‘age’ of the air at desk level is shown in Figure 2, with red being the oldest (i.e. most stagnant) and blue being fresh. In this case, there is a dead zone in the tea room (bottom right corner) even though the door is open. The air conditioning units help to circulate air in the small offices, but the tea room doesn’t have such a unit. This would mean that smells of cooking, or bad food in a bin, could accumulate more easily in the tea room.

![](case-studies/office/CFD2.png)
<p class="caption">Figure 2: Desk level predicted ‘age’ of air</p>

###Simulation Results: Air Temperature
The predicted air temperature throughout the office was also calculated on a given day (Figure 3). Red is hottest, and blue is coldest. The office with north-facing windows (top left corner) tends to bake in the sun, despite the air-conditioning unit. The small office rooms towards the other side of the office are colder. The small heat plumes (shown as red areas) around the computers are a consequence of the heat that they produce and add to the air.

![](case-studies/office/CFD3.png)
<p class="caption">Figure 3: Predicted temperature at desk level</p>

###Simulation Results: Air Speed
The predicted air speed throughout the office is shown in Figure 4. This knowledge can be useful to ensure that those who sit at desks will not be uncomfortable from cold or hot breezes blowing on them – or that papers don’t get blown off the desks. Red is the fastest speed, and dark blue is stationary air. Draughts above about 0.2 m/s are likely to cause some degree of discomfort.

![](case-studies/office/CFD4.png)
<p class="caption">Figure 4: Predicted air flow speed at desk level</p>

A similar calculation near the ceiling level (Figure 5) shows the air jets coming out of the air-conditioning units. Knowing where these blow can help to locate and aim them for maximum effect. If you have ever had a jet of hot or cold air blasting down your neck because you were the unfortunate person to sit in just the wrong place, you will appreciate how useful this could be…!

![](case-studies/office/CFD5.png)
<p class="caption">Figure 5: Combination of predicted velocities and temperature near ceiling level</p>

###Simulation Results: Daylight
In the absence of the correct type of artificial lighting, plants must have sufficient natural light to grow. DesignBuilder also has the capability of calculating levels of natural daylight that enters the office through windows. A sample is shown for this office in Figure 6. Red is the highest level, unsurprisingly near the north-facing windows. A knowledge of daylight levels is also useful for human comfort, appearance, and minimising artificial lighting with good design. Desirable daylight levels for a home range from about 200-400 lux, and those in an office from about 300-500 lux. There are many ways in which this tool can be used!

![](case-studies/office/CFD6.png)
<p class="caption">Figure 6: Daylight illuminance levels at desk level</p>

###Conclusion
This analysis is but one example of how DesignBuilder can be used to analyse buildings. With this software, we can identify
•	pros/cons in existing building structures,
•	provide you with possible solutions to identified issues,
•	and/or make recommendations for new designs

Are you worried about local drafts; hot or cold spots; thermal comfort; air-conditioning sizing; and daylight levels?
You don’t have to make a blind guess – we can help to give you an informed answer!
