---
date: 2017-08-03
title: Packed beds and rock beds
description: What are rock stores and how can they help me?
image: rock-beds.png
customer: Beaufort West Clinic
---

<p class="intro-paragraph">
  Have you ever wondered if it is possible to cool or heat your building by some means other than conventional air-conditioning units? Have you ever wished for a system that uses less electricity? – for a system that is simple to build and operate and suited to regions with low technology capabilities?

  Well, there is at least one alternative that can be considered, although it is not suitable in all locations: a packed bed heating or cooling system.
</p>

###Packed beds: an alternative means for heating and cooling
What is a packed bed? It sounds more complicated than it is. A packed bed (sometimes called a rock bed) is in essence a pile of loose particles like broken rock or bricks (Figure 1), and it functions as an energy ‘battery’. It ‘stores’ the environmental/ambient temperatures instead of ‘producing’ temperatures like an air-conditioner does. This is achieved by blowing hot or cold air from the environment through the pile of rock or whatever material you use. It may not allow you to discard your air-conditioner completely, but it would allow for a reduction in electricity usage in many locations.

![](case-studies/rock-bed/rb1.png)
<p class="caption">Figure 1: Packed bed under construction</p>

###What are the advantages and disadvantages? How does it work?
The advantage of packed beds is that, in storing energy at ambient temperatures instead of artificially heating or cooling, less energy is used. The disadvantage is that the system is completely dependent on ambient temperatures: if there is a heatwave for several days or weeks, it will not be able to provide cooling. The limitation with this system is that it needs a climate where the day and night temperatures vary sufficiently. If the night temperature does not cool significantly, then this system will not function well (or at all). Packed beds function best in regions with a large temperature difference (about 8-10 °C or more) between day and night. An example of a suitable day-night temperature profile is shown in Figure 2.

![](case-studies/rock-bed/rb2.png)
<p class="caption">Figure 2: Sample Summer ambient day-night temperatures</p>

How does a packed bed work? A packed bed used for cooling a building is “charged” with cold air at night when the external ambient temperature around the building is low (Figure 2). Then, during the day when the temperature rises and the building needs cooling, the low temperature ‘stored’ in the packed bed can be used to cool air for the building until the packed bed is discharged by reversing the air flow direction.

![](case-studies/rock-bed/rb3.png)
<p class="caption">Figure 3: Recharging a packed bed at night in order to provide cooling</p>

Packed beds can be used for heating a building at night if it is possible to charge them with hot air during the day. Sunshine during the day can be used to increase the charging temperature significantly above the ambient temperature.

###What do I need to know to build one?
Because the system effectiveness depends on the ambient temperature range, in addition to the particle size and the material properties, there are no one-size-fits-all designs. Every design needs to be customised to some extent. Ideally, the system should be designed and built as a part of the building structure to reduce costs – retrofitting is likely to be expensive. Care should be taken to ensure that fungi spores and other potential health hazards do not get blown into the building.

###Is it worth it?
Financial payback periods in South Africa are likely to be between 5-15 years in regions where the weather is suited to the use of packed beds, provided that expensive retrofitting is not required. Apart from the financial considerations, there is the advantage of reduced dependence on the power grid - the system only requires a small fan to operate, which could be driven from a photovoltaic system. The maintenance is basic and low-tech: well suited to rural areas and developing regions. The construction materials can usually be sourced very easily, unless you live in a region of the world where there is no rock. And there is also the cherry on top of being able to show off a relatively novel system to your friends!
