---
date: 2016-05-10
title: Water and Sanitation Building, Bellville
description: This investigation demonstrates how the overall HVAC load could be reduced by considering the positioning and glazing types
image: water_and_sanitation.jpg
customer: City of Cape Town
---

<p class="intro-paragraph">
New buildings are in a unique position as they allow for the greatest energy efficiency to be considered, while minimising capital cost to achieve this. One of the largest energy consumers in a commercial building is the heating, ventilation, air-conditioning and cooling (HVAC) system. This investigation demonstrates how the overall HVAC load could be reduced by considering the orientation and glazing types.
</p>


###How can the energy requirement of the HVAC system be minimised?

Building orientation and the correct selection of glass can play a very important role in reducing the size of the HVAC system to be installed.  The Water and Sanitation building situated in Cape Town, South Africa is selected as a subject and the peak solar loads are investigated to determine what type of glass is more suitable on the various facades.

###Building fabric and shading devices

The outer shell of the building consists primarily of glazing with the largest facade facing North as indicated in Figure&nbsp;1.  Aluminium cladding is indicated by the white panels and acts as a shading feature, with off-shutter concrete finish on the remainder of the building.

![](case-studies/water-and-sanitation/water_and_sanitation-1.jpg)

<p class="caption">Figure&nbsp;1: Geometry of the Water and Sanitation building</p>

###What does the thermal load look like if single-glazed clear float glass is selected?

Before glass type and orientation can be considered it is important to investigate the thermal loads should a standard 6 mm float glass be installed.  The floor space is divided into multiple regions with perimeter zones no wider than four metres (see Figure&nbsp;2).  Simulation results indicate that the Eastern and Western Facades suffer from the largest loads, in excess of 300 W/m².  These are caused by the low solar angles in the early morning and late evenings. It is difficult to block these excessive solar loads without hindering the occupants' external view.

![](case-studies/water-and-sanitation/water_and_sanitation-2.png)

<p class="caption">Figure&nbsp;2: Thermal load on the third floor using single-glazed float glass</p>

###What effects do alternative glass types present?
Alternative glass types are investigated to determine whether the thermal loads could be significantly reduced to allow for a smaller HVAC system to be installed.  Four glass types are considered for this study, namely:

* Standard 6 mm float glass which is shown to allow high thermal loads (least expensive).
* Performance glass which allows high visual light transmittance with significantly reduced solar heat gain (moderate cost).
* Single-glazed low-E glass (costly).
* Double-glazed low-E glass (very costly).

Table 1: Glass specification for the four glass types investigated in this study
<table class="table">
	<thead>
	<tr>
		<th>Description</th>
		<th>Visual Light Transmittance</th>
		<th>Solar Heat Gain Coefficient</th>
		<th>U-value [W/(m²K)]</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>Single (Clear float glass)</td>
			<td>0.88</td>
			<td>0.82</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>Single (Performance)</td>
			<td>0.81</td>
			<td>0.59</td>
			<td>4.2</td>
		</tr>
		<tr>
			<td>Single (Low-E)</td>
			<td>0.44</td>
			<td>0.45</td>
			<td>3.4</td>
		</tr>
		<tr>
			<td>Double (Low-E)</td>
			<td>0.38</td>
			<td>0.34</td>
			<td>2.0</td>
		</tr>
	</tbody>
</table>

Multiple configurations are analysed.  It is found that the best solution, both functionally and aesthetically is to apply the double glazed low-E windows to the Eastern and Western facades and single glazed low-E windows to the Northern and Southern facades.

![](case-studies/water-and-sanitation/water_and_sanitation-3.png)
<p class="caption">Figure&nbsp;3: Final thermal load results for the building</p>

###What does this study tell us?

By performing a basic thermal loads assessment, we are able to determine that the single clear float glass results in an unacceptably high thermal load. Investigating multiple glazing configurations for the building leads us to a scenario where thermal loads can be reduced by 33&nbsp;%.  This implies that an HVAC system could be sized to deal with a much lower thermal load and thus effect significant utility savings.
