---
date: 2016-05-10
title: Water and Sanitation Building, Bellville
description: This investigation demonstrates how the overall HVAC load could be reduced by considering the positioning and glazing types
image: water_and_sanitation.jpg
customer: City of Cape Town
---

<p class="intro-paragraph">
New buildings are in the unique position as they allow for the greatest energy efficiency to be considered, while minimising capital cost. One of the largest energy consumers in a commercial office building is the heating, ventilation and air-conditioning (HVAC) system. This investigation demonstrates how the overall HVAC load could be reduced by considering the positioning and glazing types.
</p>


###How can the energy requirement of the HVAC system be minimised?

Building orientation and the correct selection of glass can play a very important role in reducing the size of the heating, ventilation and air-conditioning (HVAC) system to be installed into the building.  The Water and Sanitation building situated in Cape Town, South Africa was selected as framework and the peak solar loads were investigated to determine what type of glass was more suitable on the various facades.

###Building fabric and shading devices

The outer shell of the building consists primarily of glazing with the largest facade facing North as indicated in Figure 1.  Aluminium cladding are indicated by the white panels and act as shading devices with off shutter concrete on the remainder of the building.

![](case-studies/water-and-sanitation/water_and_sanitation-1.jpg)

<p class="caption">Figure 1: Geometry of the Water and Sanitation building</p>

###What does the thermal load look like if standard single pane float glass is selected?

Before glass type and positions could be considered it is important to investigate the thermal loads should a standard 6 mm float glass be installed.  The floor space is divided into multiple regions with perimeter zones no wider than 4 metres, see Figure 2.  Results indicated that the Eastern and Western Facades suffer from the largest loads, in excess of 300 W/m2.  These are caused by the low solar angles in the early morning and late evenings. It is difficult to block these excessive solar loads without hindering the view of the occupant.

![](case-studies/water-and-sanitation/water_and_sanitation-2.png)

<p class="caption">Figure 2: Thermal load on the third floor using single glazed float glass</p>

###What effect does alternative glass types present?
Alternative glass types were investigated to determine whether the thermal loads could be significantly reduced to allow for a smaller HVAC system to be installed.  Four glass types were considered for this study, namely;

* Standard 6 mm float glass which was shown to allow high thermal loads (Least expensive)
* Performance glass  which allows greater Visual light transmittance with significantly  reduced Solar gain (moderate cost)
* Single pane Low-E type glass (costly)
* Double pane Low-E type glass (very costly)

Table 1: Glass specification for the four glass types investigated in this study
<table class="table">
	<thead>
	<tr>
		<th>Description</th>
		<th>Visual light transmittance</th>
		<th>Solar Heat Gain Coefficient</th>
		<th>U-value [W/m2 K]</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>Single (float glass)</td>
			<td>0.88</td>
			<td>0.82</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>Single (Performance)</td>
			<td>0.81</td>
			<td>0.59</td>
			<td>4.23</td>
		</tr>
		<tr>
			<td>Single (Low-E)</td>
			<td>0.44</td>
			<td>0.45</td>
			<td>3.4</td>
		</tr>
		<tr>
			<td>Double (Low-E)</td>
			<td>0.38</td>
			<td>0.34</td>
			<td>2.0</td>
		</tr>
	</tbody>
</table>

Multiple configurations were analysed  it was found that the best solution, both functionally and aesthetically was to apply the double glazed Low-E windows to the Eastern and Western facades, while maintaining a single glazed Low-E windows to the Northern and Southern facades.

![](case-studies/water-and-sanitation/water_and_sanitation-3.png)
<p class="caption">Figure 3: Final thermal loading results on the building</p>

###What does this study tell us?

By performing a basic thermal load experiment, we were able to determine that the single float glass resulted in an unacceptably high thermal load. Investigating multiple glazing configurations for the building, resulted in a scenario where thermal loads could be reduced by 33%.  This implies that an HVAC could be sized to deal with a much lower thermal load and therefore significant utility savings.
