<div class="container">
	<h1>Design Builder Training</h1>

	<p>
		We offer DesignBuilder training two times per year: The training applies a hands-on and interactive teaching approach. All delegates are required to bring along their laptops and apply what they have learnt in real examples during the workshop. Delegates are also encouraged to do some online training before the workshop. Building energy modelling is a broad field, and the training is conducted in context of the following topics: Building modelling techniques, Heat transfer, HVAC modelling, accreditation modelling (SANS 10400 XA, Green Star SA).
	</p>
</div>

<section class="section-lg b-b">
	<div class="container">
		<h2>Computational Fluid Dynamics</h2>

		<p>
			DesignBuilder offers a simplified computational fluid dynamics (CFD) module to visualise air flow patterns through and around building structures.
		</p>

		<p>
			The course presents an overview of CFD and the underlying physics and numerical methods involved to obtain a converged solution. Multiple topics are covered ranging from how to create an acceptable grid, ensure stability and determine whether the solution is correct. During the course a demonstration of how to create a model suitable for CFD, applying suitable boundary conditions and running a simulation is provided. Examples of both internal and external CFD simulations and discussed along with the various tools presented in DesignBuilder to enable effective visualisation of the results.
		</p>
	</div>
</section>

<section class="section-lg b-b">
	<div class="container">
	<h2>Natural Ventilation Natural</h2>

	<p>
	Ventilation refers to the flow of air through a structure, driven by forces  such as wind and buoyancy.   
	</p>

	<p>
		The course presents an overview of natural ventilation both through structures and natural occurring phenomena between and around building structures. Setting up natural simulations are demonstrated using both the scheduled and calculated methodologies provided DesignBuilder. Visualisation of the natural ventilation flow process is achieved through the use of computational fluid dynamics (CFD). This course demonstrates how the required boundary conditions are obtained through natural ventilation calculations and implemented into the CFD environment of DesignBuilder to allow the dominant flow patterns to be analysed and displayed visually.
	</p>
	</div>
</section>