---
date: 2020-01-06
title: DesignBuilder Support Feedback
---

<div id="case-studies-index">
	<div class="container text-center m-y-lg">
		<header>
			<h1 class="text-uppercase">DesignBuilder Support Feedback</h1>
			<p>How was your experience of DesignBuilder support from Greenplan?</p>
		</header>
	</div>
</div>

<div class="container m-b-lg">
	<div class="row">
		<div class="col-md-6 hidden-sm-down">
			<form name="DB-support-feedback" action="thank-you" netlify>
			  <p>
			    <label>Your name (optional):</label>
			    <input type="text" placeholder="Your name" name="name" class="form-control">
			  </p>
			  <p>
			    <label>Your email address (optional):</label>
			    <input type="email" name="email" placeholder="name@domain.com" class="form-control">
			  </p>
			  <p>
			    <label>Your organisation (optional):</label>
			    <input type="text" placeholder="Private" name="organisation" class="form-control">
			  </p>
			  <p>
			    <label>DesignBuilder activation code (required):</label>
			    <input type="number" placeholder="99999999" name="activationcode" class="form-control" required>
				(For network/site licence users, this is the activation code used on your licence server. Please ask your IT team for the code.)
			  </p>
			  <p>
			    <label>Your feedback</label>
			    <textarea name="message" rows="6" placeholder="Your feedback, suggestions, complaints or compliments regarding the DesignBuilder software support you received from us." class="form-control"></textarea>
			  </p>
			  <p>
			    <button class="btn btn-success btn-lg">Send</button>
			  </p>
			</form>
		</div>

	</div>
</div>

