<div class="hero hero-sm ">
	<div class="hero-content container">
		<h1>About</h1>
	</div>
	<div class="hero-pattern snapfield"></div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xl-8 col-lg-8 col-md-10 center-block">
			<article>
				<h1>About GreenPlan</h1>
				<p>
					It all started with a game of golf.  On a Saturday morning in November 2006 during a game of golf, Stefan Bothma, CEO of Power Developments, discussed severe acoustic problems they had encountered at The Dry Mill, a large upmarket development on Thesen Island in Knysna, with his golf partner, Piet Dekker.  As a result, a team including Dr’s. Dekker, Terblanche and Francois and Malan Joubert were invited for a site visit to discuss the problem.  At that stage the developers were desperate, having had several acoustic experts on the job for almost 24 months without any real progress.
				</p>
				<p>
					The team strategy was specifically not to use conventional techniques, as these had been tried and all of them had failed to produce any real solutions.  Traditional noise transmission testing requires a relatively quiet environment, a luxury almost never available on a large construction site.  This resulted in the ultra-fast development of a custom-designed application, based on a mathematical process called Fast Fourier analysis. The team now had a very powerful sound transmission tool which could be used for tests on extremely noisy construction sites. Working day and night they pin-pointed four areas in the building construction, responsible for excessive noise transfer between living units.  Within 6 weeks, an in-depth report was delivered to the client.  Based on the report, a single living unit was modified and subjected to strenuous sound transmission tests.  All tests were passed with flying colours, resulting in the whole development being upgraded to the recommended standard.
				</p>
				<p>
					This first exposure to the built environment initiated a sincere interest in holistic building design and specifically sustainable buildings.  We quickly realised that the lessons learnt from the construction world via our acoustic work and the philosophy of trying the unconventional, could play a major part in sustainable building design.  The proven benefits of thinking alternatively and applying strong technical skills led to our decision to pursue computer-based building performance simulation as a powerful way to analyse and optimise building designs.  Using arguably the most advanced building simulation software, EnergyPlus, developed by the United States Department of Energy, GreenPlan soon became a true pioneer in South-Africa in terms of building modelling and training.
				</p>
				<p>
					Today GreenPlan is one of the leaders in South Africa regarding building performance modelling and analyses having participated on more than 400 building projects.  We have been fortunate to have worked with leading Architects and Consulting Engineers on many ground-breaking green buildings in South Africa.  This legacy is reinforced on a continuous basis via an ever growing client base and pool of expertise (should this be a link to elsewhere?) within the company. 
				</p>
			</article>
		</div>
	</div>
</div>