<div class="hero hero-sm ">
	<div class="hero-content container">
		<h1>About</h1>
	</div>
	<div class="hero-pattern snapfield"></div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xl-8 col-lg-8 col-md-10 center-block">
			<article>
				<h1>About GreenPlan</h1>
				<p>
					It all started with a game of golf.  On a Saturday morning in November 2006 during a game of golf, Stefan Bothma, CEO of Power Developments, discussed severe acoustic problems they had encountered at The Dry Mill, a large upmarket development on Thesen Island in Knysna, with his golf partner, Piet Dekker.  As a result, a team including Dr’s. Dekker, Terblanche and Francois and Malan Joubert were invited for a site visit to discuss the problem.  At that stage the developers were desperate, having had several acoustic experts on the job for almost 24 months without any real progress.
				</p>
				<p>
					The team strategy was specifically not to use conventional techniques, as these had been tried and all of them had failed to produce any real solutions.  Traditional noise transmission testing requires a relatively quiet environment, a luxury almost never available on a large construction site.  This resulted in the ultra-fast development of a custom-designed application, based on a mathematical process called Fast Fourier analysis. The team now had a very powerful sound transmission tool which could be used for tests on extremely noisy construction sites. Working day and night they pin-pointed four areas in the building construction, responsible for excessive noise transfer between living units.  Within 6 weeks, an in-depth report was delivered to the client.  Based on the report, a single living unit was modified and subjected to strenuous sound transmission tests.  All tests were passed with flying colours, resulting in the whole development being upgraded to the recommended standard.
				</p>
				<p>
					This first exposure to the built environment initiated a sincere interest in holistic building design and specifically sustainable buildings.  We quickly realised that the lessons learnt from the construction world via our acoustic work and the philosophy of trying the unconventional, could play a major part in sustainable building design.  The proven benefits of thinking alternatively and applying strong technical skills led to our decision to pursue computer-based building performance simulation as a powerful way to analyse and optimise building designs.  Using arguably the most advanced building simulation software, EnergyPlus, developed by the United States Department of Energy, GreenPlan soon became a true pioneer in South-Africa in terms of building modelling and training.
				</p>
				<p>
					Today GreenPlan is one of the leaders in South Africa regarding building performance modelling and analyses having participated on more than 400 building projects.  We have been fortunate to have worked with leading Architects and Consulting Engineers on many ground-breaking green buildings in South Africa.  This legacy is reinforced on a continuous basis via an ever growing client base and pool of expertise (should this be a link to elsewhere?) within the company. 
				</p>
			</article>

			<div class="media">
			  <div class="media-left">
			    <%= image_tag "images/francois.jpg" %>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Francois Joubert</h4>
			    <p>
			    	Francois founded GreenPlan Consultants in 2007 after realising the huge impact buildings have on energy and building material resources.  He is a passionate champion for the use of building performance simulation to aid designers and developers to create better buildings.  GreenPlan consultants has pioneered the use of building simulation software in South Africa and has provided consulting services and training to numerous prominent companies and individuals. Prior to founding GreenPlan Consultants, Francois was involved in research and development of gas turbine engines and rocket propulsion systems. He holds an M-Eng. in Aeronautical Engineering from the University of Stellenbosch and is a registered professional engineer. Francois lives in Stellenbosch with his wife.  They have two sons, Malan and Philip. 
			    </p>
			  </div>
			</div>

			<div class="media">
			  <div class="media-left">
			    <%= image_tag "images/thomas.jpg" %>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Thomas Hugo</h4>
			    <p>
			    	Thomas holds responsibility for DesignBuilder simulation software sales, support and training for Southern Africa. Before joining GreenPlan Consultants, Thomas worked for several years in the field of energy audits and carbon credits at Blue World Carbon and New Southern Energy.  In addition to his DesignBuilder responsibilities, he maintains hands-on expertise in building performance assessments and frequently participates in design teams working to improve building performance.   He has performed modelling on several prestigious Green Star building projects in South Africa.  He holds a Master’s degree in Chemical Engineering from University of Stellenbosch. 
			    </p>
			  </div>
			</div>

			<div class="media">
			  <div class="media-left">
			    <%= image_tag "images/sewis.jpg" %>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Sewis Van Zyl</h4>
			    <p>
			    	Sewis Van Zyl is responsible, amongst others, for general building performance modelling at GreenPlan Consultants. With almost 10 years of experience in Computational Fluid Dynamics (CFD), he has a deep passion for combining the art and science of developing effective CFD solutions for complex natural ventilation and wind flow problems and to present this to the client in a digestible format.  He has performed modelling on several prestigious Green Star building projects in South Africa.  Prior to GreenPlan Consultants, Sewis did post-doctoral work at both the University of Stellenbosch and National Renewable Energy Laboratory in the USA. He has co-authored numerous scientific papers at a national and international level.  Sewis holds a Ph.D. in Mechanical Engineering from the University of Stellenbosch.
			    </p>
			  </div>
			</div>


			<div class="media">
			  <div class="media-left">
			    <%= image_tag "images/sewis.jpg" %>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Sven Oxtoby</h4>
			    <p>
			    	Sven Oxtoby is the building performance assessment expert at GreenPlan Consultants responsible for generating and maintaining standard procedures and reporting formats. He is passionate about maintaining high standards in terms of building performance modelling. Prior to joining GreenPlan Consultants, Sven worked as consulting engineer at WSP on heating, ventilation and air-conditioning, also specialising in thermal and daylight modelling.  In 2012 he started his own audio business, Ox Audio, in pursuit of a lifelong passion for sound.   Combining many years of consulting and green building expertise, Sven brings a unique combination of attention to detail and practical experience expertise to GreenPlan Consultants. Sven holds a BSc in Mechanical Engineering from the University of Cape Town and diploma and certificate from the Cape Audio College.
			    </p>
			  </div>
			</div>
		</div>
	</div>
</div>