---
title: Advertising letter
---

Dear Sir/Madam

We would like to draw attention to the services we offer in the field of performance-based building design.  Herewith a summary of our capabilities.

<UL>
  <LI><a name="XA"></A><strong>SANS 10400-XA Rational energy assessments</strong>
    <UL>
      <LI>A major advantage of rational assessment for Part XA compliance is that it provides a more holistic, sophisticated method for demonstrating compliance and thus tends to yield less demanding glazing requirements.
        <LI>We have completed over 1 000 Part XA assessments ranging from holiday houses to shopping malls and have been involved in Part XA discussion and revision work for years.
    </UL>
  <LI><a name="GS"></A><strong>Green Star SA modelling</strong> for energy, thermal comfort, daylight and glare credits.
  <LI><a name="EDGE"></A><strong>EDGE modelling</EDGE> for clients pursuing EDGE certification.
  <LI><a name="mechvent"></A><strong>Mechanical ventilation design:</strong> We undertake design of small-scale mechanical ventilation systems, for example in houses.
  <LI><a name="informing"></A><strong>Informing the design using sophisticated tools to assess performance and suggest design improvements. Specifically:
  <UL>
    <LI><a name="loads"></A><strong>Solar loads analysis:</strong> Solar loads are assessed throughout spaces to locate "hot spots" or problem areas, where performance glass or shading devices may be employed selectively.

    <LI><a name="thermal"></A><strong>Thermal comfort analysis:</strong> Assessment of thermal comfort inside naturally ventilated or conditioned building spaces.  Mitigation measures can be incorporated into the design "before it's too late".

    <LI><a name="daylight"></A><strong>Daylight studies</strong> to optimise the use of natural light in a space, reducing energy use for artificial lighting.

    <LI><a name="vent"></A><strong>Ventilation studies</strong> using zone-based models or Computational Fluid Dynamics (CFD) to verify and fine-tune mechanical or natural ventilation designs.

    <LI><a name="wind"></A><strong>Site wind studies</strong> using Computational Fluid Dynamics (CFD) to assess the effect of building/campus design on localised wind patterns, identifying problem areas so that these may be mitigated.

    <LI><a name="rockstore"></A><strong>Rock bed thermal storage:</strong> We have in-house expertise on rock store performance prediction and measurement, in addition to design and construction experience.

    <LI><a name="measurement"></A><strong>Remote data measurement solutions:</strong> Reliable low-cost measurement and remote logging of parameters such as temperature, at multiple points in a building.

    <LI><a name="sec"></A><strong>Sustainable energy consulting:</strong> Comparing performance of multiple generation or storage options and advising on technologies for the specific application.

    <LI><a name="rain"></A><strong>Rainwater modelling:</strong> Modelling of rainwater harvesting and consumption patterns for a building, occupancy and climatic region, to optimise the size of storage vessels.
  </UL>
</UL>

We would love to discuss your next project with you.  Please contact us on <a href="mailto:info@greenplan.co.za">info@greenplan.co.za</a> or <a
href="tel:27218828261">(021) 882 8261</a>. We look forward to being of service.

In addition to consulting services we offer:
<UL>
  <LI><a name="sales"></A><strong>Sales and support for DesignBuilder Software:</strong> Greenplan is the sole South African agent for this world leading building performance analysis software. It is Agrément approved for Part XA rational assessments in South Africa.
  <LI><a name="training"></A><strong>Training for DesignBuilder users:</strong> Most modules carry CPD points for both architects and engineers. Upcoming training: Western Cape: 7 to 11 May 2018 / Gauteng: October 2018. <a href="mailto:info@greenplan.co.za?subject=DesignBuilder">Contact us</a> for more information.
</UL>

For further information please do not hesitate to <a href="mailto:info@greenplan.co.za">contact us</a> or see <a href="http://www.greenplan.co.za">www.greenplan.co.za</a>.

If you would prefer <strong>not</strong> to receive occasional marketing e-mails from Greenplan Consultants, please notify us immediately at <a href="mailto:info@greenplan.co.za?subject=Unsubscribe">info@greenplan.co.za</a>.
