---
title: Consulting Services
---

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          Consulting Services 
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="section-lg">
	<div class="container">
		<header class="section-header">
			<div class="content-narrow">
				<h3>Services</h3>
				<p>
					<%= lorem.sentences 5 %>
				</p>
			</div>
		</header>
		<div class="row">
			<% blog("consulting").articles.each do |service| %>
				<div class="col-lg-4 col-md-4 m-b-md">
					<% link_to service, class: "service" do %>
						<h4><%= service.title %></h4>
						<p>
							<%= service.metadata[:page]['description'] %>
						</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= partial "partials/cta" %>