---
title: Consulting Services
---

<div class="hero hero-md" id="hero-consulting">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          Consulting
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="section-lg">
	<div class="container">
		<header class="section-header">
			<div class="content-narrow">
				<h3>About Our Services</h3>
				<p>
					We offer services regarding sustainable energy solutions, solar loads, thermal comfort and general advice on passive building design concepts. We have extensive experience in terms of all Green Star SA Credits that require building performance modelling.
				</p>
			</div>
		</header>
		<div class="row">
			<% blog("consulting").articles.each do |service| %>
				<div class="service-block col-lg-4 col-md-4 m-b-md">
          <% link_to service, class: "service" do %>
            <div class="image" style="background-image: url(<%= (service) %>)">
            </div>
            <h4><%= service.title %></h4>
						<p>
							<%= service.metadata[:page]['description'] %>
						</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta" %>
</div>
