<div class="container">
	<div>
		Email <%= link_to "info@greenplan.co.za", "mailto: info@greenplan.co.za" %>
	</div>
	<div>
	Tel 
	<tel>+27 (0) 21 880 2925</tel>
	</div>
	<div>
		Fax +27 (0) 21 887 9031
	</div>
	Physical Address
	<address>
		391 De Zalze Estate,
		Strand Road,
		Stellenbosch, 7600
		South Africa
	</address>

	Postal Address
	<address>
		P.O. Box 12102
		Die Boord, 7613
		Stellenbosch
		South Africa
	</address>
</div>