---
title: Contact
---

<div id="case-studies-index">
	<div class="container text-center m-y-lg">
		<header>
			<h1 class="text-uppercase">Contact US</h1>
			<p>Get in touch if you have to learn more, or to get a quote on an upcoming project.</p>
		</header>
	</div>
</div>

<div class="container m-b-lg">
	<div class="row">
		<div class="col-md-6 hidden-sm-down">
			<form name="contact" action="thank-you" netlify>
			  <p>
			    <label>Your Name:</label>
			    <input type="text" placeholder="Elon Musk" name="name" class="form-control">
			  </p>
			  <p>
			    <label>Your Email Address</label>
			    <input type="email" name="email" placeholder="elon@spacex.com" class="form-control">
			  </p>
			  <p>
			    <label>Message</label>
			    <textarea name="message" rows="3" placeholder="Message" class="form-control"></textarea>
			  </p>
			  <p>
			    <button class="btn btn-success btn-lg">Send</button>
			  </p>
			</form>
		</div>
		<div class="col-md-6 contact-details">
			<div class="m-b">
				<div class="text-green">
					Office Hours
				</div>
				<time>
				Mon-Thu: 8:00-17:00 <br>
				Friday: 8:00-16:00<br>
				Public holidays: closed<br>
				</time>
			</div>

			<div class="m-b">
				<div class="text-green">
					Email
				</div>
				<%= link_to "info@greenplan.co.za", "mailto: info@greenplan.co.za" %>
			</div>

			<div class="m-b">
				<div class="text-green">
					Telephone
				</div>
				<tel>+27 (0) 21 880 2925</tel>
			</div>

			<div class="m-b">
				<div class="text-green">
					Physical Address
				</div>
				<address>
					1 Coetse,
					De Zalze Estate
					Strand Road,
					Stellenbosch, 7600
					South Africa
				</address>
			</div>

			<div class="">
				<div class="text-green">
					Postal Address
				</div>
				<address>
					P.O. Box 12102
					Die Boord, 7613
					Stellenbosch
					South Africa
				</address>
			</div>
		</div>
	</div>
</div>

<div class="google-map" id="map"></div>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

<%= partial "partials/google_maps" %>
