<div class="hero hero-md hero-home">
  <div class="hero-content container">
    <h1 class="m-b-md">Consulting like a boss</h1>
  </div>
  <div class="hero-pattern snapfield"></div>
</div>

<div class="container">
	<%= link_to "Training", "/design-builder/training" %>

	<%= link_to "Resources", "/design-builder/resources" %>
</div>