---
title: Design Builder
---

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          DesignBuilder 
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
	Greenplan offers DesignBuilder Software sales, technical support and training in Southern Africa.  The software arguably represents one of the most advanced and user-friendly building performance software analysis packages available in the world today.

	DesignBuilder provides advanced modelling tools in an easy-to-use interface. This enables both architects and engineers to use the same software to develop comfortable and energy-efficient building designs from concept through to completion. You can build up models from scratch, using DXF or PDF 2-D drawings or importing 3-D models via gbXML format.

	The Architectural simulation packages allow you to link with BIM solutions, analyse solar shading, maximise the use of renewable technologies, test facade options and check the potential for natural ventilation to provide cooling all in one place, adjusting as you go according to client requirements.
	
	High quality technical and rendered outputs help communicate findings to clients in a way they can easily understand. Key performance indicators such as energy consumption, carbon emissions, thermal comfort, daylight availability and cost can be provided throughout the design process in both naturally ventilated and air-conditioned buildings.  

	"The graphical user interface of DesignBuilder is comprehensive and intuitive, allowing us to model complex buildings simply and quickly." Alessandro Righi, architect and researcher at IUAV - Laboratory technical physics:

	DesignBuilder Packages for Engineers are an integrated set of high-productivity tools to assist with sustainable building design. Leading services engineers and energy modellers across the world use DesignBuilder to gain an insight into the impact of their design strategies on building environmental performance. You can link with BIM solutions to evaluate different alternative design scenarios for HVAC systems and controls, facades, lighting, renewable technologies all in one place, adjusting as you go according to client requirements.  High quality technical and rendered outputs help communicate findings to clients in a way they can easily understand. Key performance indicators such as energy consumption, carbon emissions, thermal comfort, daylight availability and cost can be provided throughout the design process in both naturally ventilated and air-conditioned buildings. 

	“Having used the majority of the alternative building simulation software packages on the market, I found without a doubt DesignBuilder the most user-friendly and enjoyable to use. The modelling program itself is fantastically simple allowing even complex buildings to be developed quickly and easily.”	
	Iain Begg, Senior HVAC Engineer, Shell Projects and Technology Group, Aberdeen, Scotland. 
</div>

<div class="container">
	<h2>Software Sales</h2>

	<p>
		Greenplan are the exclusive South African agents for DesignBuilder; providing sales, training and support for this leading building energy simulation tool. We have partnered with DesignBuilder UK to ensure that South Africa has access to the best tools on the market. For further information or a quotation, please contact our sales department - sales@greenplan.co.za
	</p>
</div>

<%= partial "partials/cta_training" %>