<div class="container">
	<div class="row">
		<div class="media">
		  <div class="media-left">
		    <%= image_tag "images/francois.jpg" %>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Francois Joubert</h4>
		    <p>
		    	Francois founded GreenPlan Consultants in 2007 after realising the huge impact buildings have on energy and building material resources.  He is a passionate champion for the use of building performance simulation to aid designers and developers to create better buildings.  GreenPlan consultants has pioneered the use of building simulation software in South Africa and has provided consulting services and training to numerous prominent companies and individuals. Prior to founding GreenPlan Consultants, Francois was involved in research and development of gas turbine engines and rocket propulsion systems. He holds an M-Eng. in Aeronautical Engineering from the University of Stellenbosch and is a registered professional engineer. Francois lives in Stellenbosch with his wife.  They have two sons, Malan and Philip. 
		    </p>
		  </div>
		</div>

		<div class="media">
		  <div class="media-left">
		    <%= image_tag "images/thomas.jpg" %>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Thomas Hugo</h4>
		    <p>
		    	Thomas holds responsibility for DesignBuilder simulation software sales, support and training for Southern Africa. Before joining GreenPlan Consultants, Thomas worked for several years in the field of energy audits and carbon credits at Blue World Carbon and New Southern Energy.  In addition to his DesignBuilder responsibilities, he maintains hands-on expertise in building performance assessments and frequently participates in design teams working to improve building performance.   He has performed modelling on several prestigious Green Star building projects in South Africa.  He holds a Master’s degree in Chemical Engineering from University of Stellenbosch. 
		    </p>
		  </div>
		</div>

		<div class="media">
		  <div class="media-left">
		    <%= image_tag "images/sewis.jpg" %>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Sewis Van Zyl</h4>
		    <p>
		    	Sewis Van Zyl is responsible, amongst others, for general building performance modelling at GreenPlan Consultants. With almost 10 years of experience in Computational Fluid Dynamics (CFD), he has a deep passion for combining the art and science of developing effective CFD solutions for complex natural ventilation and wind flow problems and to present this to the client in a digestible format.  He has performed modelling on several prestigious Green Star building projects in South Africa.  Prior to GreenPlan Consultants, Sewis did post-doctoral work at both the University of Stellenbosch and National Renewable Energy Laboratory in the USA. He has co-authored numerous scientific papers at a national and international level.  Sewis holds a Ph.D. in Mechanical Engineering from the University of Stellenbosch.
		    </p>
		  </div>
		</div>


		<div class="media">
		  <div class="media-left">
		    <%= image_tag "images/sewis.jpg" %>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Sven Oxtoby</h4>
		    <p>
		    	Sven Oxtoby is the building performance assessment expert at GreenPlan Consultants responsible for generating and maintaining standard procedures and reporting formats. He is passionate about maintaining high standards in terms of building performance modelling. Prior to joining GreenPlan Consultants, Sven worked as consulting engineer at WSP on heating, ventilation and air-conditioning, also specialising in thermal and daylight modelling.  In 2012 he started his own audio business, Ox Audio, in pursuit of a lifelong passion for sound.   Combining many years of consulting and green building expertise, Sven brings a unique combination of attention to detail and practical experience expertise to GreenPlan Consultants. Sven holds a BSc in Mechanical Engineering from the University of Cape Town and diploma and certificate from the Cape Audio College.
		    </p>
		  </div>
		</div>
	</div>
</div>