---
title: Team
---

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          Our Team 
          <small class="secondary">
            Meet the awesome engineers behind Greenplan
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<section id="team" class="p-y-lg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="teammate">
					<h5>Francois Joubert</h5>
					<p class="title">Managing Director & Founder</p>
					<p>
						Francois founded Greenbuild Consultants in 2007 after realising the huge impact buildings have on energy and building material resources. He is a passionate champion for the use of building performance simulation to aid designers and developers to create better buildings. He holds an M-Eng. in Aeronautical Engineering from the University of Stellenbosch and is a registered professional engineer.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="teammate">
					<h5>Sven Oxtoby</h5>
					<p class="title">Lead Engineer - Building Performance Assessment</p>
					<p>
						Sven Oxtoby is the building performance assessment expert at Greenbuild Consultants responsible for generating and maintaining standard procedures and reporting formats. Prior to joining Greenbuild Consultants, Sven worked as consulting engineer at WSP on heating, ventilation and air-conditioning, also specialising in thermal and daylight modelling. Sven holds a BSc in Mechanical Engineering from the University of Cape Town.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="teammate">
					<h5>Josebus (Sewis) Van Zyl</h5>
					<p class="title">Lead Engineer – Computational Fluid Dynamics</p>
					<p>
						Sewis Van Zyl is responsible, amongst others, for general building performance modelling at Greenbuild Consultants. With almost 10 years of experience in Computational Fluid Dynamics (CFD), he has a deep passion for combining the art and science of developing effective CFD solutions for complex natural ventilation and wind flow problems. Sewis holds a Ph.D. in Mechanical Engineering from the University of Stellenbosch. Prior to Greenbuild Consultants, Sewis did post-doctoral work at both the University of Stellenbosch and National Renewable Energy Laboratory in the USA.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="teammate">
					<h5>Thomas Hugo</h5>
					<p class="title">Lead Engineer – DesignBuilder Software</p>
					<p>
						Thomas holds responsibility for DesignBuilder simulation software sales, support and training for Southern Africa. In addition to his DesignBuilder responsibilities, he maintains hands-on expertise in building performance assessments and frequently participates in design teams working to improve building performance. He holds a Master’s degree in Chemical Engineering from University of Stellenbosch.
					</p>
				</div>
	 		</div>
		</div>
	</div>
</section>

<div class="m-t-lg">
	<%= partial "partials/cta" %>
</div>